<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day8Eight.CreateUserForChaining"/>
      <class name="day8Eight.getUserForChaining"/>
      <class name="day8Eight.UpdateUserForChaining"/>
      <class name="day8Eight.DeleteUser"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
